.user-container{
  display : flex;
  align-items: center
}

.user-image-container{
  padding-left: 20px
}

.user-container h4{
  margin: 5px 0 !important
}

.navbar-title{
   margin-top: 25px
}

 

.border-top{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 30px; 
  border-top: 1px solid #DF9599
}
 